.dashboard {
  &__header {
    // z-index: 1 !important;
    min-height: 72px;
    display: flex;
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-direction: column;

    &__container {
      flex-grow: 1;
    }
  }
}
