.user-registration-form {
  &__container {
    padding: 2rem;
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__column {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__container-actions {
    padding: 1rem;
  }
}
