.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 64px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  -webkit-box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.7);

  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: #fff;
  bottom: 1px;
  content: "";
  height: 18px;
  left: 1px;
  position: absolute;
  width: 18px;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(140, 116, 35, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(140, 116, 35, 1);
  box-shadow: 0px 0px 5px 2px rgba(140, 116, 35, 1);

  transition: 1s ease;
}

input:checked + .slider {
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  padding-left: 30px;
}

input:checked + .slider:before {
  transform: translateX(43px);
  background: #000;
}

.slider.round {
  border-radius: 34px;
  padding-top: 4px;
  padding-left: 40px;
}

.slider.round:before {
  border-radius: 50%;
}
