.page {
  &__welcome {
    display: flex;
    flex-direction: column;

    &__message-container {
      display: flex !important;
      flex: 1;
      align-items: center;
      justify-content: center;

      &__content-container {
        text-align: center;
        padding: 2rem;

        &__img-container {
          height: 64px;
        }
      }
    }
    &__login-form-container {
      flex: 2;
    }
  }
}
