.user-invitation-form {
  &__container {
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__column {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
