/* .login {
    margin: auto;
    display: flex;
    flex-direction: column;

    min-width: 600px;
    min-height: 500px;

    width: 30%;
    

    border: 1px solid #302f2f;
    border-radius: 4px;
}

.login__title {
    text-align: center;
}

.login__form {
    padding: 10px 16px;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.login__form__input {
    margin: 5px 8px;
} */
