.switches-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  border-radius: 4px;

  &__main {
    &__table {
      border-top: 1px solid #90caf9;
      border-bottom: 1px solid #90caf9;
    }
  }
}

.nr-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
