.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main-content {
    flex-grow: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    padding: 1rem;
  }
}
