.main-system-configuration-form {
  min-width: 860px;

  &__container {
    padding: 2rem;
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__column {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__container-actions {
    padding: 1rem;
  }
}
